* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.container{
  width: 70%;
  background-image: url(../immagini/background.jpg);
  margin: 20px auto;
}
body{
  background-image: url(../immagini/background.jpg);
}

header {
  height: 400px;
  margin-bottom: 10px;
}

.header-top {
  height: 330px;
  border: 5px solid white;
  background-image: url(../immagini/sfondo.jpg);
  background-size: cover;
  position: relative;
}

.logo-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: white;
  text-transform: uppercase;
}

#logo {
  font-size: 50px;
  border: 3px solid white;
  padding: 5px 5px 0;

}

.tag-line {
  margin-top: 10px;
}
nav {
  height: 70px;
  background-color: brown;
  line-height: 70px;
  text-align: center;
}
nav ul li {
  display: inline-block;

  padding: 0 10px;
  text-transform: uppercase;


}
aside {
  width: 20%;
  float: left;

}
main {
  width: 60%;
  height: 100px;
  float: left;
  padding: 0 10px;
}
.content {
  padding: 10px;
  background-color: white;
  border-radius: 5px;
}
aside .content {
  margin-bottom: 10px;


}
main .content {

}
footer {
  height: 100px;
  background-color: pink;
}
footer .social-icons {
  width: 33.3333%;
  border: 1px solid black;
  float: left;
  height: 100%;
  text-align: center;
  line-height: 100px;
  font size: 50px;
}
